
@{
    ViewBag.Title = "Relatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-left">
    <a href="#">Relatórios</a>
    <i class="fa fa-angle-double-right"></i>
    <a href="relatorios.html">Consultar</a>
</div>

